<%= link_to user_post_path(user, post) do %>
  <div class="post">
    <h2>
      <span>Post #<%= index %></span>
      <span>
        <%= post.title %>
      </span>
    </h2>
    <p>
      <%= post.text %>
    </p>
    <small>
      <span>Comment:  <%= post.comments_count %>, Likes: <%= post.likes_count %></span>
    </small>
  </div>
<% end %>
